black
Django
django-jet-reboot
django-admin-sortable2
django-extensions
django-money
djangorestframework
importmagic
ipdb
ipython
isort
jedi
mypy
mypy-extensions
pandas
python-dotenv
tabulate
termcolor
typing_extensions
whitenoise

pytest
pytest-django
pytest-sugar
